<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a10609516.wqp_internal_app">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 加入允許應用訪問網路上的信息權限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 加入網路使用權限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 加入手機震動權限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 加入允許使用電源鎖定管理以使進程休眠或屏幕變暗 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 加入允許開機完成後發送ACTION_BOOT_COMPLETED的廣播信息 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 創建與刪除檔許可權 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 寫入資料許可權 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 安裝未知來源的權限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 加入相機開啟許可權 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 新增地圖元件的時候，自動加入的設定 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/wqp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/wqp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WQP_OS_APP"
        android:usesCleartextTraffic="true">
        <activity android:name=".DepartmentAndDIY.SetupMasterActivity"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".Tools.ScannerActivity" />
        <activity
            android:name=".Basic.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Basic.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Boss.ExchangeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Boss.ApplyExchangeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.ScheduleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.CalendarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.MissionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.MissionDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.MissionReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.EngSignatureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.PointsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.EngPointsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.MissCountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.GPSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.EngMapsActivity"
            android:label="GOOGLE MAP"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Works.GuestMapsActivity"
            android:label="GOOGLE MAP"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Clerk.QuotationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Clerk.AuthorizeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartmentAndDIY.StationReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartmentAndDIY.StationReportSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartmentAndDIY.StationReportCorrectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartmentAndDIY.StationReportAddActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartmentAndDIY.SetupDemandActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Manager.InventoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Manager.OrderSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Manager.PickingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Manager.Picking_SignatureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.RequisitionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.RequisitionSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.VersionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Basic.UpdateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WQP_OS_APP.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- FCM推播 -->
        <service android:name=".FCM.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bwt_icon" /> <!-- 收到通知時, 到狀態列要顯示的 icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/WQP_Blue" /> <!-- 收到通知的背景色 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.a10609516.wqp_os_app.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- FileProvider安裝套件 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Google Map API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>